[user]
  name = Eric Garrido
  email = ekg@google.com
[color]
  diff = true
  status = true
  ui = true
[include]
  path = custom/gitconfig
[rerere]
  enabled = 1
[http]
	cookiefile = /home/ekg/.gitcookies
[alias]
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync
[push]
	default = simple
